<!DOCTYPE html>
<html lang="en">
{% include "h1.html" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link href="{{url_for('static', filename = 'bootstrap-4.0.0-dist/css/style.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'nav-logo.png' )}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
<link href="{{url_for('static', filename = 'bootstrap-4.0.0-dist/css/bootstrap.css')}}" rel="stylesheet">

<style>
    body {
  
  font-family: 'Montserrat', sans-serif;
  
}

.main{
    /*background-color: #B4F5F0;*/
    background-image: url("https://www.ppt-backgrounds.net/thumbs/light-blue-download-PPT.jpeg");
}

.abc{
    margin-top: -100px;
}
</style>
</head>
<body style="overflow:hidden;">
    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container abc">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{{url_for('static', filename = 'signin-image.jpg' )}}" alt="sing up image"></figure>
                        <a href="register" class="signup-image-link" style="font-size: 18px; font-weight: bold;">Don't have an account?</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title" style="font-size: 40px; font-weight: bold;">Login</h2>
                        <form method="POST" class="register-form" action="/login" id="login-form">
                        
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="username" required="_required"placeholder="Username" style="font-weight: bold;" />
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" required="_required" placeholder="Password" style="font-weight: bold;"/>
                            </div>
                            
                            <div class="form-group form-button">
                                <form action="/fetch">
                                    <input type="submit" name="submit" id="submit" class="form-submit" style="font-size: 20px; font-weight: bold;" value="Log in"/> 
                                    <br><br>
                                    {{ msg }}
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>